:root{
    --success: #41B06E;
    --danger: #E74C3C;
    --warning: #F4D03F;
    --bg: #151c2c; 
    --bg-soft: #182237; 
    --bg-soft-soft: #2f426a; 
    --text: white; 
    --text-dark: rgb(56, 56, 56); 
    --text-soft: #b7bac1; 
    --btn: #5d57c9;
    --card:  #2e374a; 
    --border: #41B06E;
    --bg-transparent:  rgba(255, 255, 255, 0.183);

}

*{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;

}

body{
    background-color: var(--bg);
    color: var(--text);
}

a{
    color: inherit;
}

input{
    background-color: transparent;
}

input:focus{
    color: white;
    font-weight: 600;
}

svg{
    font-size: 1.5rem;
}


