.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.6rem;
    background-color: var(--bg-soft);
    border-radius: 1rem;
}


/* Page Title */

.pageTitle{
    font-size: 1rem;
    font: bold;
    color: var(--text-soft);
    text-decoration: underline;
}

/* Page Title */


/* Menu */
.menu{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}


/* Menu */


/* Icon and Badge */
.notificationIcon{
    position: relative;
}

.notificationBadge{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -10px;
    right: -10px;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: red;
    color: white;
}
/* Icon and Badge */

