.container{
    display: flex;
    
}

.menu{
    flex: 1;
    min-height: 100vh;
    padding: 20px;
    background: var(--bg-soft);
}

.content{
    flex: 5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}





