.container{
    display: flex;
    gap: 1.5rem;

}

.mainDashboard{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.rightBar{
    flex: 1;
}

/* Transaction Section */
.transactionSection{
    display: flex;
    gap: 1rem; 
    justify-content: space-around;
    padding:1rem; 
    
    
}
/* Transaction Section */

/* TransactionCard */
.transactionCard{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 1rem;
}
/* TransactionCard */

/* TransactionContent */
.transactionContent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}



.transactionContent >  span{
    font-size: 1.5rem;
    font-weight: 700;
}

.transactionContent p span {
    color: green 
}
/* TransactionContent */

/* TransactionTable */
.transactionTable{
    background-color: var(--bg-soft);
    padding: 1rem;
    border-radius: 1rem;
}

.transactionTable > h2{
    color: var(--text-soft);
    font-size: 1.5rem;
}

.transactionTable table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.transactionTable thead{
    font-weight: bold;
}

.transactionTable table td{
    padding: 1rem;
}

.transactionTable table tr:nth-child(even){
    background-color: var(--bg-soft-soft);
}



.transactionTable .status{
    padding: .2rem .6rem;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
}

.status.success{
    background-color: green;
}

.status.failed{
    background-color: red;
}
.status.processing{
    background-color: orange;
}






/* TransactionTable */

/* Card */
.cardComp{
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--bg-soft);
    box-shadow: 0px 2px 4px rgba(247, 231, 231, 0.1);
    
}

/* Card */