
.form{
    background-color: var(--bg-soft);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
}
